body {
  background-color: black;
  color: white;
}

input {
  width: 20%;
  border: 2px solid black;
  border-radius: 0px;
  background-color: black;
  color: white;
}

select {
  width: 20%;
  border: 2px solid black;
  border-radius: 0px;
  background-color: black;
  color: white;
}

h1 {
  font-family: sans-serif;
}

p {
  font-family: sans-serif;
  line-height: 1.5em;
}

#description {
  max-width: 70ch;
}


#container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.axis text {
  font-family: monospace !important;
}

.data {
  fill: steelblue;
}

.timerect {
  fill: steelblue;
}

.axis--y .tick line {
  stroke: #fff;
  stroke-opacity: 0.0;
}

.axis--x .tick line {
  stroke: #fff;
  stroke-opacity: 0.0;
}

.axis .domain {
  display: none;
}

.sunriseareapath {
  fill: black;
  fill-opacity: 1.0;
}

.sunriseline {
  fill: none;
  stroke: black;
  stroke-width: 2px;
}

.axis text {
  font-family: sans-serif;
  font-size: 11px;
  fill: white;
}