body {
  background-color: black;
  color: white;
}

input {
  width: 20%;
  border: 2px solid black;
  border-radius: 0px;
  background-color: black;
  color: white;
}

select {
  width: 20%;
  border: 2px solid black;
  border-radius: 0px;
  background-color: black;
  color: white;
}

h1 {
  font-family: Futura, sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0;
}

p {
  font-family: Futura, sans-serif;
  font-size: 0.825rem;
  line-height: 1.5em;
}

#grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.axis text {
  font-family: Futura, sans-serif !important;
}

.data {
  fill: steelblue;
}

.timerect {
  fill: steelblue;
}

.axis--y .tick line {
  stroke: #fff;
  stroke-opacity: 0.0;
}

.axis--x .tick line {
  stroke: #fff;
  stroke-opacity: 0.0;
}

.axis .domain {
  display: none;
}

.sunriseareapath {
  fill: black;
  fill-opacity: 1.0;
}

.sunriseline {
  fill: none;
  stroke: black;
  stroke-width: 2px;
}

.axis text {
  font-family: Futura, sans-serif;
  font-size: 11px;
  fill: white;
}